<%= form_for(@restaurant, :html => { multipart: true }) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error-explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h4>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-md-8">
      <%= f.text_field :name,  class: "form-control", placeholder: "Enter Name Here" %>
    </div>
  </div>
 		
  <div class="form-group">
    <div class="col-md-8">
      <%= f.text_field :address,  class: "form-control", placeholder: "Enter address Here" %>
    </div>
  </div>

 	<div class="form-group">
    <div class="col-md-8">
      <%= f.text_field :phone,  class: "form-control", placeholder: "Enter phone Here" %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-8">
      <%= f.text_field :website,  class: "form-control", placeholder: "Enter website Here" %>
    </div>
  </div> 

  <div class="form-group">
    <div class="col-md-8">
      <%= f.file_field :Image,  class: "form-control", placeholder: "Enter Image Here" %>
    </div>
  </div> 

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit "Submit Restaurant", class: "btn btn-primary btn-lg btn-xlarge" %>
    </div>
  </div>
<% end %>